<div class="main-body">
    <br>
    <h6>※会社を１０段階で評価してください（値が高いほど劣悪）</h6>
    <br>

    <h3>会社名：「<%= @com.company_name %>」</h3>
    <br>
    <div class="row">
        <div class="col-6 offset-3">

            <%= form_for(@evaluation, :url => {:action => "push"}) do |f| %>

                <div class="form-group">
                    <%= f.hidden_field :company_id,:value => @com.id %>
                </div>

                <div class="form-group">
                    <%= f.label(:environment,"環境") %>
                    <%= f.select :environment, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]],) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">

                    <%= f.label(:salary,"給料") %>
                    <%= f.select :salary, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">

                    <%= f.label(:overtime,"残業") %>
                    <%= f.select :overtime, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">

                    <%= f.label(:boss,"上司") %>
                    <%= f.select :boss, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">

                    <%= f.label(:corporate_style,"社風") %>
                    <%= f.select :corporate_style, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">

                    <%= f.label(:management,"経営方針") %>
                    <%= f.select :management, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">

                    <%= f.label(:dangerous,"やばいこと") %>
                    <%= f.select :dangerous, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>
                <div class="form-group">
                    <%= f.label(:other,"その他") %>
                    <%= f.select :other, options_for_select([["1", 1], ["2", 2],["3", 3], ["4", 4],["5", 5], ["6", 6],["7", 7], ["8", 8],["9", 9], ["10", 10]]) ,{include_blank: true}, class: "form-control" %><br>
                </div>

                <div class="actions">
                    <%= f.submit "登録" , :class => "btn-lg btn-warning" %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="return">
        <%= button_to "戻る", company_index_path, {method: :get, class: "btn-lg btn-success"} %>
    </div>
</div>