<div class="main-body">
    <h1><%= @com.company_name %></h1>

    <%= high_chart("sample", @graph) %>

    <%= button_to "データを追加する" , "#{@com.id}/data" , {method: :get ,class: "btn-lg btn-warning"} %>
    
    <!-- 7.14~ Ajax仕様コメント機能実装途中 -->
    <!-- 現在起こっているエラー：NoMethodError in Company#show -->
    <!-- ただし、_form.html.erb内のform_withを指している -->
    <div>
        <h4>コメント</h4>
        <div id="comments_area"><!-- #① -->
        <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>  
        <% if user_signed_in? %>
        <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
        <%= render partial: 'comments/form', locals: {company: @company,comment: @comment}  %>
        <% end %>
    </div>
    <div class="return">
        <%= button_to "戻る", company_index_path, {method: :get, class: "btn-lg btn-success"} %>
    </div>
    <!-- 削除 -->
    <% if @com.user_id == current_user.user_id %>
        <%= link_to("/company/#{@com.id}/destroy",{method:"post"}) do %>
            <button type="button" class="btn btn-outline-primary">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>投稿削除</button>
        <% end %>
    <% end %>
</div>